*{
    margin: 2px;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background: rgb(50, 50, 50);
    border-radius: 15px;
    margin: 8px;
    padding: 8px;
}

.card-a {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.card-b {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
}

.card img {
    max-width: 95px;
    max-height: 70px;
    margin-top: 13px;
}

.card button {
    height: 100%;
}
